.Select_topic {
  padding: 12px 10px;
  min-width: 166px;
  background: #eaf0ff;
  border-radius: 5px;
  border-color: transparent;
  font-family: 'Lato';
  text-align: center;
  text-transform: uppercase;
}
.Select {
  text-align: center;
  border-radius: 12px;
  background: #ffffff;
  color: #5c81e1;
  width: 100%;
}
.Select ::placeholder {
  line-height: 1.3;
}
.groupStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
