/*.Button {
  padding: 8px 16px;
  border-radius: 10px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}*/

.Button:disabled {
  background: #c6d1ed;
  pointer-events: none;
}

.Button:hover,
.Button:focus {
  background-color: var(--accent-color);
  box-shadow: 3px 3px 4px rgba(137, 150, 183, 0.2);
  outline: none;
}

.Button:active {
  background: var(--color-blue);
  box-shadow: inset 4px 4px 4px rgba(64, 93, 166, 0.6);
}

.Button {
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 10.5px 27px;
  border-radius: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
