.Header {
  padding: 10px 0;
}

.Header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.Menu__body {
  display: flex;
  gap: 20px;
}
.Button__list {
  display: flex;
  gap: 20px;
}
