.Header {
  padding: 30px 0;
}

.Header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.Menu__body {
  display: flex;
  gap: 20px;
}
.Button__list {
  display: flex;
  gap: 20px;
}

.Header_button {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-black);

  padding: 5px;
  border: none;
  outline: none;
  background: #f4f7ff;
  border-radius: 2px;
}
