.Input {
  font-family: 'Lato';
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: #bcbcbc;
  background: #ffffff;
  padding: 15px 35px;
  box-shadow: inset 1px 1px 1px rgba(92, 129, 225, 0.32);
  border-radius: 5px;
}
.Input::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: #bcbcbc;
}

.Password_icon {
  position: absolute;
  color: #bcbcbc;
  top: 12px;
  right: 15px;
}

.User_Box {
  position: relative;
  margin-bottom: 20px;
}
/*.User_Box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}*/
.Checkbox_login {
  margin-bottom: 20px;
}

.Checkbox_text {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 17px;

  color: var(--color-darkblue);
}

.Form_Error {
  font-size: 0.875rem;
  color: #ff0000;
}
