.Form_wrapper {
  width: calc((100%) / 2);
  background: linear-gradient(138.68deg, #dce6ff 8.7%, #ffffff 123.75%);
  border-radius: 5px;
  text-align: center;
  padding: 22px 27px;
}

.Input {
  font-family: 'Lato';
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: var(--color-darkblue);
  background: var(--color-white);
  padding: 10px 25px;
  box-shadow: inset 1px 1px 1px rgba(92, 129, 225, 0.32);
  border-radius: 5px;
}

.Input:focus,
.Create_desr:focus {
  outline: 1px solid burlywood;
}
.Input::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: var(--color-gray);
}

.Input:valid {
  box-shadow: 0px 2px 0px 0px #00ff00;
}
.Password_btn {
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  color: var(--color-gray);
  cursor: pointer;
  top: 7.5px;
  right: 15px;
  background-color: transparent;
  outline: none;
  border: none;
}

.User_Box {
  position: relative;
  margin-bottom: 13px;
}

.Checkbox_login {
  padding-top: 7px;
  margin-bottom: 20px;
  position: relative;
}

.Checkbox_text {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 17px;

  color: var(--color-darkblue);
}

.Form_Error {
  font-size: 0.875rem;
  color: #ff0000;
}

.Forgot_pass {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 137%;
  text-decoration-line: underline;
  color: var(--color-darkblue);
  margin-top: 23px;
  margin-bottom: 30px;
}
.Create_acc {
  line-height: 137%;
  color: var(--color-darkblue);
}
.Create_desr {
  font-weight: 700;
  font-size: 15px;
  line-height: 137%;

  text-decoration-line: underline;
  background-color: transparent;
  border: 0;
  color: var(--color-darkblue);
  cursor: pointer;
}
