.Home_wrapper {
  margin: 20px auto 90px;
  display: flex;
  /*gap: 40px;*/
  max-width: 1040px;
  position: relative;
}
.Hero_title {
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  color: #111f42;
  margin-bottom: 35px;
}
.Hero_title span {
  color: var(--color-blue);
}

.Hero_desr {
  font-size: 16px;
  line-height: 137%;
  max-width: 480px;
  color: var(--color-black);
}

.Title_wrapper {
  /* border: 1px solid brown; */
  /* flex: 0 0 50%; */
  width: calc((100%-80px) / 2);
  align-self: center;
}

.Form_wrapper {
  /* border: 1px solid brown; */
  /* flex: 0 0 50%; */
  width: calc((100%-80px) / 2);
  background: linear-gradient(138.68deg, #dce6ff 8.7%, #ffffff 123.75%);
  border-radius: 5px;
  text-align: center;
  padding: 25px 60px 40px;
}

.Elipse1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #e0b346;

  top: 47px;
  left: 390px;
}
.Elipse2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #51e05b;
  bottom: 69px;
  left: 95px;
}
.Elipse3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #e0729b;
  bottom: -58px;
  right: 80px;
}

.Demonstration {
  padding: 15px 30px;
  background: tomato;
  border-radius: 10px;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
}
.Demonstration:hover {
  transform: translate(0px, 2px);
}
