.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  position: relative;
}
.Modal::before {
  content: '';
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  padding: 40px;
  background: rgb(141, 131, 131);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.68);
  border-radius: 10px;
}

@media (min-width: 450px) {
  .Modal {
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
  }
}
