.User_Box {
  position: relative;
  margin-bottom: 18px;
}

.Form_wrapper {
  /* border: 1px solid brown; */
  /* flex: 0 0 50%; */
  width: calc((100%-80px) / 2);
  background: linear-gradient(138.68deg, #dce6ff 8.7%, #ffffff 123.75%);
  border-radius: 5px;
  text-align: center;
  padding: 25px 60px 40px;
}

.Input {
  font-family: 'Lato';
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: var(--color-darkblue);
  background: #ffffff;
  padding: 15px 25px;
  box-shadow: inset 1px 1px 1px rgba(92, 129, 225, 0.32);
  border-radius: 5px;
}

.Input_desr {
  padding-top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-darkblue);
  text-align: left;
}

.Password_icon {
  position: absolute;
  color: #bcbcbc;
  top: 12px;
  right: 15px;
}
.Privacy_desr {
  padding-left: 12px;
}
.Privacy_desr > span {
  font-weight: 700;

  text-decoration-line: underline;
  color: var(--color-darkblue);
}

.Checkbox_signUp {
  margin-bottom: 18px;
}

.Form_Error {
  font-size: 0.875rem;
  color: #ff0000;
}
