.Welcome_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 33px;
  color: var(--color-darkblue);
}
.Welcome_block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}
.Welcome_subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--color-darkblue);
  margin-bottom: 42px;
}
.Welcome_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: rgba(17, 31, 66, 0.7);
  margin-bottom: 55px;
}
