.Metric_wrapper {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.Metric_item {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--color-black);
}

.Metric_count {
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;

  text-align: center;

  background: linear-gradient(161.22deg, #5c81e1 12.69%, #ffffff 110.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
