.Metric_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-left: 0;
}

.Metric_item {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--color-black);
}

.Metric_count {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  text-align: center;
  background: linear-gradient(161.22deg, #5c81e1 12.69%, #111f42 110.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  margin-bottom: 4px;
}

.Metric_tag {
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--color-darkblue);
}
