.Metric_wrapper {
  display: flex;
 justify-content: center;
  gap: 70px;
  margin: 0;
  padding: 0;
}

.Metric_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 85px;
  min-height: 85px;
  border-radius: 50%;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 0.3s ease 0s;
  position: relative;
}

.Metric_item::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(0, 213, 255);
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 0.3em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent-color);
  }
}

.Metric_item:hover {
  background-color: var(--accent-color);
}
.Metric_count {
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
}
