.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background-color: red;
}

.username {
  font-weight: 700;
  color: var(--color-white);
}
.Header_button {
  font-family: 'Sofia Sans';
  color: var(--color-white);
  fill: currentColor;
  border: none;
  background: transparent;
  border-radius: 2px;
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.Header_button:hover,
.Header_button:focus {
  color: red;
}

.Header_button svg {
  width: 20px;
  height: 20px;
}
